


/* porque esse link nao funciona? */

img	{
	width: 30%;
	float: left;
  margin: 1.66%;
}


#divSubmitAd{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: red;
}